@charset "utf-8";

/* 전체 스타일 초기화 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: transparent;
}

/* 네비게이션 바 스타일 */
.navbar.navbar-dark.bg-dark.fixed-top {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.container-fluid {
  position: relative;
  height: 50px;
  width: 100%;
}

.navbar-brand {
  font-size: 0.7rem;
}

/* Offcanvas 메뉴 스타일 */
#offcanvasDarkNavbar {
  width: 80%;
}

#offcanvasDarkNavbarLabel {
  color: rgba(223, 114, 64, 0.897);
  font-size: 1.5rem;
}

.navbar-toggler {
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  padding-top: 5px; /* 위쪽 패딩 조정 */
  padding-bottom: 5px; /* 아래쪽 패딩 조정 */
  margin-top: -10px; /* 위로 약간 이동 */
}

.navbar-toggler-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -0.54rem;
  margin-right: -0.54rem;
  margin-bottom: 0.1rem;
  line-height: 1; /* 아이콘 세로 위치 조정 */
  justify-content: center;
  align-items: center;
}

body > nav > div > button > span {
  padding-right: 2.5rem;
}

.spinner-border.spinner-border-sm {
  justify-content: center;
  align-items: center;
  -webkit-animation: 130s linear infinite spinner-border;
  animation: 13s linear infinite spinner-border;
}

.jikji35 {
  position: absolute;
  top: 180px;
  left: 190px;
  z-index: 1000;
}

/* 테이블 스타일 */
.table-bordered {
  border: 2px dashed black !important;
}

.table-bordered td,
.table-bordered th {
  border: 1px dashed black !important;
}

/* 황악회칙 페이지 스타일 */
#wrap {
  position: relative;
  text-align: center;
  padding: 0 5px 0 0;
  margin: 0 auto;
  width: 100%;
  height: 150vh;
}

header {
  width: 100%;
  height: 3rem;
  background: #2e7fa4;
  border-radius: 10px 10px 5px 5px;
}

#wrap > header > h1 {
  width: 100%;
  border-style: outset;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  color: sandybrown;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px 10px 5px 5px;
}

#current {
  padding: 0 0 0 1px;
  font-size: 1em;
  font-weight: bold;
  color: rgb(251, 248, 248);
}

.left_column_boxes {
  padding: 2.5rem 0.625rem;
}

#wrap > section {
  float: left;
  padding: 50px 10 0 15px;
  width: 100%;
  height: 120vh;
  background: rgb(250, 248, 248);
  text-align: justify;
}

/* 기타 스타일 */
.custom-margin {
  margin-top: 230px;
}

.btn-custom-width {
  width: 100%;
}

.kakaotalk img {
  width: 2rem;
  height: 2rem;
}

#offcanvasDarkNavbarLabel {
  color: rgba(223, 114, 64, 0.897);
  font-size: 1.4em;
  margin-left: 1.8rem;
}

.number_35 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

a.btn.btn-primary {
  margin-left: 1.8rem;
  margin: 19px;
}

.nav-link > span {
  color: rgb(188, 192, 249);
  font-size: 1.3em;
}

#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(2) > a {
  color: rgb(225, 218, 236);
  font-size: 0.7em;
  margin-left: 1.8rem;
}

#gagebu,
#gagebu_1 {
  text-decoration: none;
  color: rgb(202, 247, 233);
}

#gagebu {
  font-size: 1.3em;
}

#gagebu_1 {
  font-size: 0.9em;
}

#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > a {
  color: rgb(126, 135, 251);
  font-size: 1.4em;
  margin-left: 1rem;
}

#offcanvasDarkNavbar
  > div.offcanvas-body
  > ul
  > li.nav-item.dropdown
  > ul
  > li
  > a {
  margin-left: 1.8rem;
}

/* 배경 이미지 스타일 */
.mountain {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 화면에 꽉 차도록 설정 */
  opacity: 0.8;
  z-index: -1;
}
/* 미디어 쿼리 */
@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }

  .navbar.navbar-dark.bg-dark.fixed-top {
    position: absolute;
  }

  #offcanvasDarkNavbar {
    width: 100%;
  }

  .navbar-toggler {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    padding-top: 5px; /* 위쪽 패딩 조정 */
    padding-bottom: 5px; /* 아래쪽 패딩 조정 */
    margin-top: -10px; /* 위로 약간 이동 */
  }

  .navbar-toggler-icon {
    margin-left: -0.6rem;
    margin-right: -0.54rem;
    margin-bottom: 0.04rem;
  }

  #wrap {
    padding: 50px 20px 0 15px;
    height: 100vh;
  }

  #offcanvasDarkNavbarLabel {
    font-size: 1.3em;
    margin-left: 1.5rem;
  }

  .number_35 {
    font-size: 16px;
  }
}
